
 <div>
    <h1 align="center" class="titleHeder">{{title}}</h1>
<div class="container-fluid">
<div class="row-fluid bgimg">
    <div class="span2">
                   <!-- <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"  class="disabled"><a href="#">Profile</a></li>
                        <li role="presentation"  class="disabled"><a href="#">Messages</a></li>
                    </ul>-->
    <app-routing></app-routing>
    </div>
</div>
</div>
 </div>






