 <div class="panel-body">
     
           <ul class="experience-bullet">
            <li>1 year experience as a Customer Relationship Officer in HTMT Global Solutions , Chennai</li>
            <li>3 year experience as Java developer in TCS Bangalore as Client Qualcomm.</li>
            <li>1 year experience as contractor(Java developer) in Qualcomm San Diego (at Present). </li>
        </ul>
    </div>

     <div class="panel-body">
         <div class="panel-heading">
			<strong>Duties & Responsibilities</strong>
		</div>
        <ul class="experience-bullet">
            <li>Participate in Requirement Analysis</li>
            <li>Participate in estimation of project Requirements</li>
            <li>Ensure designs are in compliance with specifications. </li>
            <li>Design & develop features and modules for applications. </li>
            <li>Write well designed, testable, efficient code. </li>
            <li>Contribute in all phases of the development lifecycle. </li>
            <li>Prepare and produce releases of software components. </li>
            <li>Support continuous improvement by investigating alternatives and technologies and present.</li>
        </ul>
        <div (click)="modal.open()"><p>Click here for information about My Project Experience</p></div>
    </div>



    <modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title"><strong>Project Experience</strong></h4>
    </modal-header>
    <modal-body>
      

<div class="panel panel-default">
  <div class="panel-body">
      <div class="list-group">
      
       <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-success">
        <h5 class="list-group-item-heading"><strong>NDA Request & Ticketing System</strong></h5>
        <p class="list-group-item-text">JA web based application for managine Non-Disclosure agreements process.</p>
               <dl class="dl-horizontal">
                                <dt>Technologies</dt>
                                <dd>groovy,grails,angular,bootstrap, jms, git, mysql ,maven , tomcat, bamboo</dd>
                                 <dt>Role</dt>
                                <dd>Developer</dd>
                               <!-- <dt>Responsibilities</dt>
                                <dd> <ul class="custom-bullet">
                                        <li>Requirement Analysis and implementation of the solution</li>
                                        <li>Documentation of the implemented modules </li>
                                        <li>Review of deliverables </li>
                                        <li>Develop code complying to Sun standards and implement best practices </li>
                                        <li>Cross-check the compliance of customer coding standards and developer check list </li>
                                        <li>Identify re-usable components and best practices and share it with the team</li>
                                        <li>Integrate the code with Svn version control system</li>
                                        <li>System testing, Integration and deployment</li>
                                    </ul>
                                </dd>-->
                </dl>
      </a>


        <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-info">
                <h5 class="list-group-item-heading"><strong>DAR System & 3PR Adapter Sync</strong></h5>
            <p class="list-group-item-text">A web based application to provide a ticketing tool for  request assistance and Discovery purposes.  </p>
                    <dl class="dl-horizontal">
                                        <dt>Technologies</dt>
                                        <dd>Oracle Apex</dd>
                                        <dt>Role</dt>
                                        <dd>Developer</dd>
                        </dl>
            </a>

        <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-success">
                        <h5 class="list-group-item-heading"><strong>AWS Migration</strong></h5>
                        <p class="list-group-item-text">Migration of java/j2ee applications from a physical data center environment to AWS Servers.</p>
                            <dl class="dl-horizontal">
                                                <dt>Technologies</dt>
                                                <dd>AWS</dd>
                                                <dt>Role</dt>
                                                <dd>Developer</dd>
                            </dl>
                    </a>

    <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-info">
                <h5 class="list-group-item-heading"><strong>NERF</strong></h5>
            <p class="list-group-item-text">The NERF system will help hiring managers to track the processes of a new hire right from the time their start date is decided to the time they come on board and are provisioned with Account, Computer System, Phone, Office etc.  </p>
                    <dl class="dl-horizontal">
                                        <dt>Technologies</dt>
                                        <dd>Angular JS, Java, J2EE, Spring MVC, Bootstrap, HTML 5, Tomcat, Oracle 10</dd>
                                        <dt>Role</dt>
                                        <dd>Developer</dd>
                        </dl>
            </a>

            <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-success">
        <h5 class="list-group-item-heading"><strong>Voting Management System</strong></h5>
        <p class="list-group-item-text">J2ee application developed for Decision making Managerial Level</p>
               <dl class="dl-horizontal">
                                <dt>Technologies</dt>
                                <dd>groovy,grails,html5,css,jquery/ajax,oracle</dd>
                                 <dt>Role</dt>
                                <dd>Developer</dd>
                               <!-- <dt>Responsibilities</dt>
                                <dd> <ul class="custom-bullet">
                                        <li>Understand and analyze business requirements</li>
                                        <li>Conduct knowledge sharing sessions with the team</li>
                                        <li>Responsible for maintaining and updating technical documentation for software and systems </li>
                                        <li>Liaised with onsite to resolve day-to-day problems and make process changes </li>
                                        <li>Played key role in design and development activities to ensure software requirements were met. </li>
                                     </ul>
                                </dd>-->
                </dl>
      </a>

      <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-info">
        <h5 class="list-group-item-heading"><strong>QED</strong></h5>
        <p class="list-group-item-text">J2ee application for Automation of Customer Events and Budget planning</p>
               <dl class="dl-horizontal">
                                <dt>Technologies</dt>
                                <dd>jsf,spring, hiberantae,jquery/ajax,oracle</dd>
                                 <dt>Role</dt>
                                <dd>Developer</dd>
                               <!-- <dt>Responsibilities</dt>
                                <dd> <ul class="custom-bullet">
                                        <li>Requirement Analysis and implementation of the solution</li>
                                        <li>Documentation of the implemented modules </li>
                                        <li>Review of deliverables </li>
                                        <li>Develop code complying to Sun standards and implement best practices </li>
                                        <li>Cross-check the compliance of customer coding standards and developer check list </li>
                                        <li>Identify re-usable components and best practices and share it with the team</li>
                                        <li>Integrate the code with Svn version control system</li>
                                        <li>System testing, Integration and deployment</li>
                                    </ul>
                                </dd>-->
                </dl>
      </a>

 
        <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-success">
                <h5 class="list-group-item-heading"><strong>PSIG DASHBOARD SYSTEMS</strong></h5>
                <p class="list-group-item-text">J2ee application for online purchase</p>
                    <dl class="dl-horizontal">
                                        <dt>Technologies</dt>
                                        <dd>groovy,grails,html5,css,jquery/ajax,oracle</dd>
                                        <dt>Role</dt>
                                        <dd>Developer</dd>
                    </dl>
            </a>


            <a href="" target="#" class="list-group-item list-group-item-info">
                <h5 class="list-group-item-heading"><strong>Sequre</strong></h5>
                <p class="list-group-item-text">J2ee application for Automation of Complete Security System</p>
                    <dl class="dl-horizontal">
                                        <dt>Technologies</dt>
                                        <dd>groovy,grails,html5,css,jquery/ajax,mySql</dd>
                                        <dt>Role</dt>
                                        <dd>Developer</dd>
                        </dl>
            </a>


       <a href="http://localhost:4200/home" target="#" class="list-group-item list-group-item-success">
                <h5 class="list-group-item-heading"><strong>QVISIT</strong></h5>
                <p class="list-group-item-text">J2ee application for Automation of Customer Visit</p>
                    <dl class="dl-horizontal">
                                        <dt>Technologies</dt>
                                        <dd>jsf,spring, hiberantae,jquery/ajax,oracle</dd>
                                        <dt>Role</dt>
                                        <dd>Developer</dd>
                    </dl>
            </a>

 

    </div>
           
    </div>
</div>

    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>

