 <div class="panel-body">
     
           <ul class="experience-bullet">
            <li>1 year experience as a Customer Relationship Officer in HTMT Global Solutions , Chennai</li>
            <li>3 year experience as Java developer in TCS Bangalore as Client Qualcomm.</li>
            <li>1 year experience as contractor(Java developer) in Qualcomm San Diego (at Present). </li>
        </ul>
    </div>

     <div class="panel-body">
         <div class="panel-heading">
			<strong>Duties & Responsibilities</strong>
		</div>
        <ul class="experience-bullet">
            <li>Participate in Requirement Analysis</li>
            <li>Participate in estimation of project Requirements</li>
            <li>Ensure designs are in compliance with specifications. </li>
            <li>Design & develop features and modules for applications. </li>
            <li>Write well designed, testable, efficient code. </li>
            <li>Contribute in all phases of the development lifecycle. </li>
            <li>Prepare and produce releases of software components. </li>
            <li>Support continuous improvement by investigating alternatives and technologies and present.</li>
        </ul>
    </div>


