

<div class="panel panel-default">
  <div class="panel-body">
      <div class="list-group">
      <a href="http://www.mesce.ac.in/php/index.php" target="#" class="list-group-item list-group-item-success">
        <h5 class="list-group-item-heading"><strong>Master Of Computer Applications</strong></h5>
        <p class="list-group-item-text">MES College Of Engineering [University Of Calicut]</p>
      </a>
      <a href="http://www.ptmgovernmentcollege.in/" target="#" class="list-group-item list-group-item-info">
        <h5 class="list-group-item-heading"><strong>Bsc Mathematics</strong></h5>
        <p class="list-group-item-text">PTM Govt. College Perinthalmanna[University Of Calicut]</p>
      </a>
    </div>
      
        <ul class="custom-bullet">
            <li><strong>Oracle Certified Professional,Java SE 6 Programmer</strong></li>
            <li><strong>AWS Certified Solution Architect - Associate Level </strong></li>
        </ul>

    </div>
</div>







 