 <div class="col-md-9">
   
<div class="panel panel-default">
    <div class="panel-heading">
      <h4><strong>Rajeesh k</strong></h4>
       <a href="https://github.com/rajeeshk10" target="#">Github Profile</a><br>
       <a  href="https://www.linkedin.com/in/rajeeshkulangara" target="#">Linkedin Profile</a>
      </div>
    <div class="panel-body">
       <p class="text-justify">Software Engineer with a proven record of design, development with an expertise in object-oriented software development using  j2ee frameworks for backend and  javascript frameworks for front end. Passionate about agile software development practices 
 and quality improvement through the effective use of my knowledge, information, communication. Hands on experience in working with latest technologies like Amazon web service.<br>
    </p>
    <!-- <ul class="experience-bullet">
         <li>4 years of exp. in developing j2ee based web applications.</li>
            <li>Core expertise in Grails, Spring, Hibernate, and front end framework angular</li>
            <li>Sound experience in working with Oracle, MySql, MariaDb.</li>
            <li>Experience in using Rest API ,Drupal Integration, Salesforce Integration, Plivo sms system Integration. </li>
            <li>Knowledge on Ajax, bootstrap , Client Side Validations through JQuery and JavaScript. </li>
            <li>Have experience in handling various team client meetings, Weekly/Monthly performance dashboard creation & organizing inter team knowledge sharing sessions every quarter </li>
            <li>Experience in java application deployment with Amazon Web Service. </li>
        </ul>-->
    </div>
</div>


  </div>
  <div class="col-md-3">
              <img src="./assets/images/Profile.jpg" class="img-responsive" alt="Cinque Terre" width="250" height="200"> 
      </div>

      