 <div class="col-md-9">
   
<div class="panel panel-default">
    <div class="panel-heading">
      <h4><strong>Rajeesh k</strong></h4>
       <a href="https://github.com/rajeeshk10" target="#">Github Profile</a><br>
       <a  href="https://www.linkedin.com/in/rajeeshkulangara" target="#">Linkedin Profile</a>
      </div>
    <div class="panel-body">
       <p class="text-justify">Software Engineer with a proven record of design, development with an expertise in object-oriented software development using backend with j2ee frameworks and front end with javascript frameworks. Passionate about agile software development practices 
 and quality improvement through the effective use of my knowledge, information, communication. Hands on experience in working with latest technologies like Amazon web service.<br>
    </p>
    
    </div>
</div>


  </div>
  <div class="col-md-3">
              <img src="./assets/images/rajeesh-pic.jpg" class="img-responsive" alt="Cinque Terre" width="250" height="200"> 
      </div>

      