<!--<p>
  profile works!
</p>
-->
<!--
<div class="panel panel-default">
<div class="panel-body">
<div>-->
<!--  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>-->
<!-- <button (click)="randomize()">Update</button>-->
<!--</div>
  </div>
</div>-->


<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Personal Info</strong></div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Technical Skills</strong></div>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-6">
              <app-language></app-language>
          </div>
            <div class="col-md-6">
              <app-database></app-database>
            </div>
      </div>
    </div>
    
  </div>


  <div class="panel panel-default">
   <!-- <div class="panel-heading">Technical Skills</div>-->
    <div class="panel-body">
      <div class="row">
           <app-framework></app-framework>
      </div>
    </div>
  </div>

 
</div>
<!-- <div class="panel panel-default">
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Technical Skills</div>
    <app-language></app-language>
  </div>-->

